<div class="input-group input-group-sm mb-2">


    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Número da mesa</span>
    </div>
    <select class="form-control" ng-options="mesa as mesa.numeroMesa for mesa in mesas track by mesa.id"
        ng-model="pedido.mesa"></select>


    <div class="input-group-prepend">
        <button class="btn btn-block btn-primary" ng-disabled="pedidoForm.$invalid"
            ng-click="carregarPedido(pedido.mesa.numeroMesa)">Carregar Pedido
        </button>
    </div>
</div>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Pedidos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a ui-sref="pedido" class="btn btn-sm btn-outline-success">
            <span class="fas fa-plus-square"></span>
            Novo Pedido
        </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th class="text-center">Preço</th>
                <th class="text-center">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pedido in pedidos">
                <td> {{pedido.produto.nomeProduto | uppercase}}</td>
                <td> {{pedido.quantidade}}</td>
                <td class="text-center">{{pedido.produto.precoProduto | number:2}}</td>
                <td class="text-center">{{ "R$ " +(pedido.produto.precoProduto * pedido.quantidade)}}</td>
                <td class="text-right">
                    <a ui-sref="pedidoEditar({id:pedido.id})"><span class="fas fa-edit"></span></a>
                    <a href="#" ng-click="excluir(pedido.id)"><span class="fas fa-trash-alt"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
    Valor total: R$:{{total | number:2}}
</div>