<div class="jumbotron">
  <form name="pedidoForm">
    <label>Mesa:</label>
    
    <select class="form-control" ng-options="mesa as mesa.numeroMesa for mesa in mesas track by mesa.id"
    ng-model="pedido.mesa"></select>

    <br>

    <label>Produto</label>
    <select class="form-control" ng-options="produto as produto.nomeProduto for produto in produtos track by produto.id"
      ng-model="pedido.produto"></select>

    <br>


    <label>Fornecedor</label>
    <input type="text" class="form-control" ng-model="pedido.quantidade">

    <br>


    <button class="btn btn-block btn-primary" ng-disabled="pedidoForm.$invalid"
      ng-click="adicionarPedido(pedido)">Adicionar Pedido
    </button>
    <button class="btn btn-block btn-success" ng-click="voltar()">Voltar
    </button>
  </form>

</div>