<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Produtos para Cotação</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
</div>
<div class="table-responsive">
    <input class="form-control" type="text" ng-model="busca" placeholder="O que você está buscando?"/>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Código</th>
                <th>Produto</th>
                <th>Data inicial</th>
                <th>Data final</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="produto in produtos | filter:busca">
                <td>{{produto.id}}</td>
                <td>{{produto.nome | uppercase}}</td>
                <td>{{produto.dataInicial | date:'dd/MM/yyyy'}}</td>
                <td>{{produto.dataFinal | date:'dd/MM/yyyy'}}</td>
                <td class="text-right">
                    <a ui-sref="cotacao({id:produto.id})"><span class="fas fa-clipboard-list"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
